<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Paths</title>
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Cinzel">
    <link rel="stylesheet" href="visualise.css">
</head>

<body>

<div class="main">
<section>
<header>
    <h1>Paths @ Formed</h1>
    <ul class="nav navbar-nav">
        <li class="active"><a href="/">Home</a></li>
        {{#if user}}
            <li><a href="/account">Account</a></li> 
           <li><a href="/logout">Log Out</a></li>
        {{else}}
            <li><a href="/auth/moves">Log In</a></li>
        {{/if}}
    </ul>
</header>
</section>

<section>
    {{{body}}}
    <div id='chart'></div>

</section>

<section>
    <footer>This is the footer</footer>
</section>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
        <script src="jquery.easing.min.js"></script>
        <script src="jquery.scrollstop.js"></script>
        <script src="jquery.scrollsnap.js"></script>
        <script src="http://d3js.org/d3.v3.min.js"></script>
        <script src="http://d3js.org/d3.geo.tile.v0.min.js"></script>
        <script src="http://d3js.org/d3.geo.projection.v0.min.js"></script>
        <script src="http://d3js.org/topojson.v1.min.js"></script>
        <script src="visualise.js"></script>
</body>
</html>
