
body {margin:0; padding:0;

	}

a {text-decoration: none; color: #00D4F5;}

h1 {
  font-family: 'Cinzel', serif;
  font-weight: normal;
  font-size: 1.4em;
  padding-left: 0;
  margin-left: 0;
  margin-bottom: 36px;
  padding-top:180px;
}

header {
	background-image: url('logo.png');
	background-repeat: no-repeat;
	background-position: center top; 
	text-align: center;
	width:100%;
  	height: 320px;
  	margin-top: 60px;
}

header ul {
	text-align: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    width:100%;
}

header li {
	display: inline;
    font-family: 'Cinzel', serif;
    font-size: 0.9em;
    text-transform: uppercase;
    text-align: center;
    margin:0 auto;
}

header li a {
    text-decoration: none;
    color: #444;
    display: inline-block;
    width: 120px
}

header li a:visited { color: #444;}
header li a:hover { color: black;}

footer {width: 100%; text-align: center;padding-top:36px; padding-bottom: 36px;
    font-family: 'Cinzel', serif;
    min-height: 300px;
}

section {margin:0; padding: 0; margin-top:-5px;}

#chart {
  margin: 0;
  padding: 0;
}
.svg-chart { background-color: black;}

path {
  fill: none;
  stroke: none;
  stroke-linejoin: round;
  stroke-linecap: round;
}

.graticule {opacity:0;}


.walking {stroke: #83DD0D; stroke-opacity: 0.8; stroke-width: 0.5}
.running {stroke: #FFB800; stroke-opacity: 0.8; stroke-width: 0.5}
.cycling {stroke: #00cdec; stroke-opacity: 0.6;stroke-width: 0.5}
.transport {stroke: #FF21F8; stroke-opacity: 0.2; stroke-width: 0.1}

.riverbank,
.ocean,  { stroke: #6E6E6E; stroke-opacity: 0; fill: #DEDEDE;}
.dock  { stroke: #6E6E6E; stroke-opacity: 0.5;}

.water { stroke: #6E6E6E; stroke-opacity: 0.5; fill:#DEDEDE;}
.reservoir { stroke: #6E6E6E; stroke-opacity:0.5 fill:#DEDEDE;}
.scree { stroke: #6E6E6E; stroke-opacity: fill:#DEDEDE;}
.lake { stroke: #6E6E6E; stroke-opacity: fill:#DEDEDE;}


.major_road { stroke: #6E6E6E; stroke-opacity: 0.5;}
.minor_road { stroke: #6E6E6E; stroke-opacity: 0.3;}
.highway { stroke: #6E6E6E; stroke-width: 1.5px; stroke-opacity: 0.5;}
.rail { stroke: #7de; }

.svg-chart { background-color: #0DC4DD;}

.riverbank,
.ocean,
.dock,
.water,
.reservoir,
.scree,
.lake {fill: white; stroke: white;}

.major_road,
.minor_road,
.highway { stroke: white;}

.walking {stroke: #DD0D79; stroke-opacity: 0.8; stroke-width: 1}
.running {stroke: #DD0D79; stroke-opacity: 0.8; stroke-width: 1}
.cycling {stroke: #DD0D79; stroke-opacity: 0.6;stroke-width: 1}
.transport {stroke: #DD0D79; stroke-opacity: 0.4; stroke-width: 0.2}

.walking,
.running,
.cycling,
.transport {stroke: white;}


/* ======= SECTION 1 ================ */

#section1 .svg-chart { background-color: #DD0D79;}

#section1 .walking {stroke: white; stroke-opacity: 0.8; stroke-width: 1}
#section1 .running {stroke: white; stroke-opacity: 0.8; stroke-width: 1}
#section1 .cycling {stroke: white; stroke-opacity: 0.6;stroke-width: 1}
#section1 .transport {stroke: white; stroke-opacity: 0.6; stroke-width: 1}


/* ======= SECTION 2 ================ */

#section2 .svg-chart { background-color: #0DC4DD;}

#section2 .walking {stroke: white; stroke-opacity: 1; stroke-width: 2}
#section2 .running {stroke: white; stroke-opacity: 1; stroke-width: 2}
#section2 .cycling {stroke: white; stroke-opacity: 1;stroke-width: 2}
#section2 .transport {stroke: white; stroke-opacity: 0.6; stroke-width: 1}

/* ======= SECTION 3 ================ */

#section3 .svg-chart { background-color: #da0505;}

#section3 .major_road { stroke: #a10000; stroke-opacity: 0.3;}
#section3 .minor_road { stroke: #a10000; stroke-opacity: 0.3;}
#section3 .highway { stroke: #a10000; stroke-width: 1.5px; stroke-opacity: 0.4;}
#section3 .rail { stroke: #a10000; }

#section3 .walking {stroke: #83DD0D; stroke-opacity: 0.8; stroke-width: 1}
#section3 .running {stroke: #FFB800; stroke-opacity: 0.8; stroke-width: 1}
#section3 .cycling {stroke: #00cdec; stroke-opacity: 0.6;stroke-width: 1}
#section3 .transport {stroke: white; stroke-opacity: 0.3; stroke-width: 0.5}

#section3 .riverbank,
#section3 .ocean,
#section3 .dock,
#section3 .water,
#section3 .reservoir,
#section3 .scree,
#section3 .lake {fill: #222222; stroke: #222222;}

/* ======= SECTION 4 ================ */

#section4 .svg-chart { background-color: black;}

#section4 .walking {stroke: #83DD0D; stroke-opacity: 0.8; stroke-width: 1}
#section4 .running {stroke: #FFB800; stroke-opacity: 0.8; stroke-width: 1}
#section4 .cycling {stroke: #00cdec; stroke-opacity: 0.6;stroke-width: 0.5}
#section4 .transport {stroke: #FF21F8; stroke-opacity: 0.2; stroke-width: 0.1}

#section4 .major_road { stroke: #6E6E6E; stroke-opacity: 0.5;}
#section4 .minor_road { stroke: #6E6E6E; stroke-opacity: 0.3;}
#section4 .highway { stroke: #6E6E6E; stroke-width: 1.5px; stroke-opacity: 0.5;}
#section4 .rail { stroke: #7de; }

#section4 .riverbank,
#section4 .ocean,
#section4 .dock,
#section4 .water,
#section4 .reservoir,
#section4 .scree,
#section4 .lake {fill: white; stroke: white;}

