
body {margin:0; padding:0;

	}

a {text-decoration: none; color: #00D4F5;}

h1 {
  font-family: 'Cinzel', serif;
  font-weight: normal;
  font-size: 1.4em;
  padding-left: 0;
  margin-left: 0;
  margin-bottom: 36px;
  padding-top:180px;
}

header {
	background-image: url('logo.png');
	background-repeat: no-repeat;
	background-position: center top; 
	text-align: center;
	width:100%;
  	height: 320px;
  	margin-top: 60px;
}

header ul {
	text-align: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    width:100%;
}

header li {
	display: inline;
    font-family: 'Cinzel', serif;
    font-size: 0.9em;
    text-transform: uppercase;
    text-align: center;
    margin:0 auto;
}

header li a {
    text-decoration: none;
    color: #444;
    display: inline-block;
    width: 120px
}

header li a:visited { color: #444;}
header li a:hover { color: black;}

footer {width: 100%; text-align: center;padding-top:36px; padding-bottom: 36px;
    font-family: 'Cinzel', serif;
    min-height: 300px;
}

#chart {
  margin: 0;
  padding: 0;
}
.svg-chart {
  background-color: black;
}

path {
  fill: none;
  stroke: none;
  stroke-linejoin: round;
  stroke-linecap: round;
}

.graticule {opacity:0;}

.cycling {stroke: #00cdec; stroke-opacity: 0.6;stroke-width: 0.5}
.walking {stroke: #00d459; stroke-opacity: 0.8; stroke-width: 1}
.transport {stroke: #FF21F8; stroke-opacity: 0.3; stroke-width: 0.2}

.riverbank  { stroke: #6E6E6E; stroke-opacity: 0; fill: #DEDEDE;}
.ocean  { stroke: #6E6E6E; stroke-opacity: 0; fill: #DEDEDE;}
.dock  { stroke: #6E6E6E; stroke-opacity: 0.5;}

.water { stroke: #6E6E6E; stroke-opacity: 0.5; fill:#DEDEDE;}
.reservoir { stroke: #6E6E6E; stroke-opacity: fill:#DEDEDE;}
.scree { stroke: #6E6E6E; stroke-opacity: fill:#DEDEDE;}
.lake { stroke: #6E6E6E; stroke-opacity: fill:#DEDEDE;}


.major_road { stroke: #6E6E6E; stroke-opacity: 0.5;}
.minor_road { stroke: #6E6E6E; stroke-opacity: 0.3;}
.highway { stroke: #6E6E6E; stroke-width: 1.5px; stroke-opacity: 0.5;}
.rail { stroke: #7de; }

.starter-template {
  padding: 40px 15px;
  text-align: center;
}

body {
  margin: 0;
}

.map {
  position: relative;
  overflow: hidden;
}

.layer {
  position: absolute;
}

.tile {
  position: absolute;
  width: 256px;
  height: 256px;
}

.tile path {
  fill: none;
  stroke: #000;
  stroke-linejoin: round;
  stroke-linecap: round;
}

.tile .major_road { stroke: #776; }
.tile .minor_road { stroke: #ccb; }
.tile .highway { stroke: #f39; stroke-width: 1.5px; }
.tile .rail { stroke: #7de; }

.info {
  position: absolute;
  bottom: 10px;
  left: 10px;
}