body {
      padding: 0;
      margin: 0;
}

html, body, #map {
  height: 100%;
}

nav {
  height:36px; 
  margin: 0;
  padding: 0;
  background-color: #F6F6F6;
  border-bottom: 3px solid #000000;
  color: #252525;
  line-height: 36px;
  font-family: 'Lato', sans-serif;
  font-weight: lighter;
  padding-left: 10px;
  padding-right: 10px;
}

nav ul li {
  width: 20%; }
nav ul li a {
  display: block;
  width: 100%;
  text-decoration: none;}

  nav ul {
  width: 100%; /* from above */
  list-style: none;
  margin: 0;
  padding: 0; }

  nav ul li {
  width: 49%; /* from above */
  float: left; }

nav ul li#username {
  float:right;
  text-align: right;
}
